
#u1487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(115, 115, 115, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:239px;
  width:85px;
  height:49px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1487_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
  background:inherit;
  background-color:rgba(111, 114, 113, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(115, 115, 115, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1487.mouseOver {
}
#u1487_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
  background:inherit;
  background-color:rgba(84, 91, 98, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(115, 115, 115, 1);
  border-radius:3px;
  -moz-box-shadow:0px 5px 2px 0px rgba(84, 91, 98, 1) inset;
  -webkit-box-shadow:0px 5px 2px 0px rgba(84, 91, 98, 1) inset;
  box-shadow:0px 5px 2px 0px rgba(84, 91, 98, 1) inset;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1487.mouseDown {
}
#u1487_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
  background:inherit;
  background-color:rgba(84, 91, 98, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(115, 115, 115, 1);
  border-radius:3px;
  -moz-box-shadow:0px 4px 3px 0px rgba(84, 91, 98, 0.913725490196078) inset;
  -webkit-box-shadow:0px 4px 3px 0px rgba(84, 91, 98, 0.913725490196078) inset;
  box-shadow:0px 4px 3px 0px rgba(84, 91, 98, 0.913725490196078) inset;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1487.selected {
}
#u1487_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
  background:inherit;
  background-color:rgba(145, 145, 145, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(178, 178, 178, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#777777;
}
#u1487.disabled {
  opacity:0.7;
}
#u1487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(157, 36, 73, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#B55975;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:238px;
  width:83px;
  height:50px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#B55975;
}
#u1488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1488_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(157, 36, 73, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(157, 36, 73, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#B55975;
}
#u1488.mouseOver {
}
#u1488_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(157, 36, 73, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(157, 36, 73, 1);
  border-radius:3px;
  -moz-box-shadow:0px 5px 5px 0px rgba(130, 31, 61, 1) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(130, 31, 61, 1) inset;
  box-shadow:0px 5px 5px 0px rgba(130, 31, 61, 1) inset;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#B55975;
}
#u1488.selected {
}
#u1488_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:50px;
  background:inherit;
  background-color:rgba(191, 112, 137, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(191, 112, 137, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#B55975;
}
#u1488.disabled {
}
#u1488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
