body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1341px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8921 {
  position:absolute;
  left:0px;
  top:644px;
}
#u8921_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:384px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8921_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:384px;
}
#u8923 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:384px;
  display:flex;
}
#u8923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:22px;
}
#u8925 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:42px;
  width:167px;
  height:248px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:22px;
}
#u8925 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:21px;
}
#u8926 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:42px;
  width:227px;
  height:248px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:21px;
}
#u8926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8927 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:42px;
  width:257px;
  height:248px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u8928 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:120px;
  width:14px;
  height:27px;
  display:flex;
}
#u8928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u8929 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:117px;
  width:29px;
  height:31px;
  display:flex;
}
#u8929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:97px;
}
#u8930 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:29px;
  width:230px;
  height:97px;
  display:flex;
}
#u8930 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8930_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8921_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:434px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u8921_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8931 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:434px;
}
#u8932 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:434px;
  display:flex;
}
#u8932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8933 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8934_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:22px;
}
#u8934 {
  border-width:0px;
  position:absolute;
  left:391px;
  top:42px;
  width:167px;
  height:248px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:22px;
}
#u8934 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8935_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:21px;
}
#u8935 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:42px;
  width:227px;
  height:248px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:21px;
}
#u8935 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8935_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8936_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8936 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:42px;
  width:257px;
  height:248px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8936 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:86px;
}
#u8937 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:29px;
  width:253px;
  height:86px;
  display:flex;
}
#u8937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8938_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u8938 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:120px;
  width:14px;
  height:27px;
  display:flex;
}
#u8938 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8938_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:31px;
}
#u8939 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:117px;
  width:29px;
  height:31px;
  display:flex;
}
#u8939 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8939_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8940 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8941_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:13px;
}
#u8941 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:151px;
  width:16px;
  height:13px;
  display:flex;
}
#u8941 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8941_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8942 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:145px;
  width:61px;
  height:23px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8942_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u8943 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:154px;
  width:4px;
  height:8px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u8944 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:154px;
  width:4px;
  height:8px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8945_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8945 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:145px;
  width:397px;
  height:23px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8945 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:8px;
}
#u8946 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:154px;
  width:4px;
  height:8px;
  display:flex;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8947_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u8947 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:145px;
  width:121px;
  height:23px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
}
#u8947 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8949_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:134px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(206, 206, 206, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8949 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:134px;
  width:358px;
  height:134px;
  display:flex;
}
#u8949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u8950 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:205px;
  width:318px;
  height:1px;
  display:flex;
}
#u8950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8951 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:224px;
  width:318px;
  height:30px;
  display:flex;
  font-family:'Montserrat Bold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-style:normal;
  font-size:16px;
}
#u8951 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8952 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:162px;
  width:248px;
  height:30px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1F0D8A;
  text-align:right;
}
#u8953 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:162px;
  width:42px;
  height:22px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#1F0D8A;
  text-align:right;
}
#u8953 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8954 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:55px;
  color:#404041;
}
#u8955 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:306px;
  width:488px;
  height:67px;
  display:flex;
  font-family:'Montserrat SemiBold', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:55px;
  color:#404041;
}
#u8955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:2px;
}
#u8956 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:388px;
  width:1140px;
  height:1px;
  display:flex;
  color:#282727;
}
#u8956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8957_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:41px;
  height:11px;
}
#u8957 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:388px;
  width:35px;
  height:5px;
  display:flex;
  color:#282727;
}
#u8957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:727px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-style:normal;
  font-size:18px;
  color:#545454;
  line-height:25px;
}
#u8958 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:452px;
  width:727px;
  height:125px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-style:normal;
  font-size:18px;
  color:#545454;
  line-height:25px;
}
#u8958 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8959 {
  position:fixed;
  left:50%;
  margin-left:-670.5px;
  top:0px;
}
#u8959_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:119px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8959_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8960 {
  position:absolute;
  left:0px;
  top:0px;
}
#u8960_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:119px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8960_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:61px;
  background:inherit;
  background-color:rgba(97, 18, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:61px;
  display:flex;
}
#u8961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8961_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u8962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8962 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:22px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8963 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:22px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8963 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8964 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:23px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:59px;
  background:inherit;
  background-color:rgba(165, 127, 44, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1341px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat Medium', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8966 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:79px;
  width:115px;
  height:23px;
  display:flex;
  font-family:'Montserrat Medium', 'Montserrat Regular', 'Montserrat', sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8966 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8967 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:60px;
  width:848px;
  height:59px;
}
#u8967_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:59px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:59px;
}
#u8969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:59px;
}
#u8969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BBB6B6;
}
#u8969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8969_img.mouseOver {
}
#u8969.mouseOver {
}
#u8969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:59px;
}
#u8970 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:0px;
  width:130px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BBB6B6;
}
#u8970 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8970_img.mouseOver {
}
#u8970.mouseOver {
}
#u8970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:59px;
}
#u8971 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:133px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BBB6B6;
}
#u8971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8971_img.mouseOver {
}
#u8971.mouseOver {
}
#u8971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:59px;
}
#u8972 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:0px;
  width:78px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BBB6B6;
}
#u8972 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8972_img.mouseOver {
}
#u8972.mouseOver {
}
#u8972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:59px;
}
#u8973 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:0px;
  width:85px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BBB6B6;
}
#u8973 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8973_img.mouseOver {
}
#u8973.mouseOver {
}
#u8973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u8974 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:0px;
  width:100px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BBB6B6;
}
#u8974 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8974_img.mouseOver {
}
#u8974.mouseOver {
}
#u8974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:59px;
}
#u8975 {
  border-width:0px;
  position:absolute;
  left:606px;
  top:0px;
  width:123px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#BBB6B6;
}
#u8975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8975_img.mouseOver {
}
#u8975.mouseOver {
}
#u8975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:59px;
}
#u8976 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:0px;
  width:119px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
}
#u8976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8976_img.mouseOver {
}
#u8976.mouseOver {
}
#u8976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:45px;
}
#u8977 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:10px;
  width:110px;
  height:45px;
  display:flex;
}
#u8977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8960_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1341px;
  height:120px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u8960_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:61px;
  background:inherit;
  background-color:rgba(12, 35, 30, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:61px;
  display:flex;
}
#u8978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u8979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8979 {
  border-width:0px;
  position:absolute;
  left:1008px;
  top:22px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8980 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:22px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#ECECEC;
}
#u8980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u8981 {
  border-width:0px;
  position:absolute;
  left:1210px;
  top:23px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:36px;
}
#u8982 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:14px;
  width:110px;
  height:36px;
  display:flex;
}
#u8982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:60px;
  background:inherit;
  background-color:rgba(19, 50, 43, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:1341px;
  height:60px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8984 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:79px;
  width:115px;
  height:23px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8985 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:61px;
  width:519px;
  height:59px;
}
#u8985_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:59px;
}
#u8987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:59px;
}
#u8987 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
}
#u8987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8987_img.mouseOver {
}
#u8987.mouseOver {
}
#u8987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:59px;
}
#u8988 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:0px;
  width:86px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
}
#u8988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8988_img.mouseOver {
}
#u8988.mouseOver {
}
#u8988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:59px;
}
#u8989 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:0px;
  width:101px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
}
#u8989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8989_img.mouseOver {
}
#u8989.mouseOver {
}
#u8989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:59px;
}
#u8990 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:0px;
  width:135px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
}
#u8990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8990_img.mouseOver {
}
#u8990.mouseOver {
}
#u8990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:59px;
}
#u8991 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:0px;
  width:96px;
  height:59px;
  display:flex;
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#F7F7F7;
}
#u8991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8991_img.mouseOver {
}
#u8991.mouseOver {
}
#u8991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
