.ax_default {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.shape {
}
.heading_1 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.flow_shape {
}
.box_1 {
}
.box_2 {
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field {
  font-size:14px;
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.icon {
}
.image {
}
.placeholder {
}
.menu_item {
}
.hint {
  color:#999999;
}
.box_3 {
}
.button {
}
.line {
}
.line1 {
}
.box_11 {
}
.table_cell1 {
}
.sticky_1 {
  text-align:left;
}
.c_typo__body-short-01 {
  font-family:'IBM Plex Sans ', 'IBM Plex Sans', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  letter-spacing:0.16px;
  color:#161616;
  text-align:left;
  line-height:18px;
}
.c__disabled-02_text {
  color:#C6C6C6;
}
.button1 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
textarea, select, input, button { outline: none; }
